/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Variables */
:root {
    /* Colors
    Primary */
    --green-500: hsl(171, 66%, 44%);
    --blue-100: hsl(233, 100%, 69%);
    --bg-light-gray: rgb(235, 242, 244, 0.6);
    /* Neutral */
    --dark-gray: hsl(210, 10%, 33%);
    --light-gray: hsl(201, 11%, 66%);
    --white: #fff;
    --black: #000;
    /* Shadows */
    --blue-shadow: rgb(67, 82, 193);
    --green-shadow: rgb(61, 144, 131);
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    place-items: center;
    text-align: center;
}

.container {
    width: clamp(350px, 50%, 38rem);
    padding-block-start: 1.5em;
}

.content-header {
    background-image: url(./images/bg-header-mobile.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    margin-block-end: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block-start: 5rem;
    width: 100%;
}

.content-header img {
    margin-block-end: 3rem;
    height: 120px;
    width: 120px;
}

.content-header .section-heading {
    /* font-size: clamp(16px, 1.6rem + 3vw, 2rem); */
    font-size: 1.6rem;
}

.section-paragraph {
    /* font-size: clamp(14px, 0.88rem + 2vw, 1.3rem); */
    font-size: 0.88rem;
    margin-block-end: 2rem;
    line-height: 1.6;
    color: var(--light-gray);
}

.all-buttons {
    width: 100%;
    border-radius: 100vmax;
    padding: 1rem;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 0.9em;
    color: var(--white);
}

.container-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#btn-ios {
    background-color: var(--green-500);
    box-shadow: 0 3px  var(--green-shadow);
}

#btn-mac {
    background-color: var(--blue-100);
    box-shadow: 0 3px  var(--blue-shadow);
}

.div-img img {
    margin-block-end: 2.5rem;
    width: 100%;
    height: 75%;
}

.main-container {
    padding-inline: 1.5rem;
    width: 100%;
}

.section-snippets-header {
    margin-block-end: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-inline: 2.5rem;
    padding-block-start: 2rem;
}

.div-description {
    padding-inline: 0.7em;
}
.section-heading2 {
    /* font-size: clamp(16px, 1.6rem + 3vw, 2rem); */
    font-size: 1.4rem;
}

.section-clipboard {
    margin-block-start: 10rem;
}

.section-clipboard .section-heading2, .section-workflow .section-heading2 {
    margin-block-end: 1rem;
    font-size: 1.5rem;
}
.section-clipboard .section-paragraph, .section-workflow .section-paragraph {
    margin-block-end: 3rem;
}

.section-workflow {
    margin-block-start: 3rem;
}

.section-workflow .div-description:first-child {
    padding-block-end: 3rem;
}

.section-workflow .workflow-img {
    margin-block-end: 1.5rem;
    width: 12.5%;
    height: 12.5%;
}

.section-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-block-start: 7rem;
    margin-block-end: 11rem;
}

.section-images img {
    width: 40%;
    height: 25%;
}

.content-buttons .section-heading2 {
    font-size: 1.5rem;
    margin-block-end: 1rem;
}

.content-buttons .section-paragraph {
    font-size: 0.91rem;
    margin-block-end: 3rem;
}

footer {
    margin-block-start: 10rem;
    padding-block: 3rem;
    padding-inline: 1.5rem;
    background-color: var(--bg-light-gray);
    width: 100%;
}

footer img {
    width: 17%;
    height: auto;
}

footer ul {
    list-style-type: none;
    margin-block-start: 3rem;
}

footer li {
    text-decoration: none;
    margin-block-end: 1.5rem;
}

footer a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.1em;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-block-start: 1rem;
    
}

.social-media i {
    font-size: 1.6em;
}